<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="business-name">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="model.name" name="name">
          </div>

          <div class="form-group">
            <label for="description">Descripción</label>
            <input type="text" class="form-control" placeholder="Descripción" [(ngModel)]="model.description" name="description">
          </div>

          <div class="form-group">
            <label for="extra_info">Extra Info</label>
            <input type="text" class="form-control" placeholder="Extra info" [(ngModel)]="model.extraInfo" name="extra_info">
          </div>

           <div class="form-group">
            <label for="politics">Politics</label>
            <input type="text" class="form-control" placeholder="Politics" [(ngModel)]="model.politics" name="politics">
          </div>

          <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" class="form-control" placeholder="Price" [(ngModel)]="model.price" name="price">
          </div>


          <button type="submit" class="btn btn-primary">Crear Producto</button>
          
        </form>
      </div>
    </div>
  </div> 
</div>

  