<p>Indica La localización de tu negocio y salecciona tu radio de operaciones </p>

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Instrucciones
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Instrucciones</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Inidcanos la localización de tu negocio, esto le permitirá ver s tus usarios-
        Selecciona tu radio de operaciones
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerr</button>
      </div>

    </div>
  </div>
</div>





<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
  <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>

  <agm-circle [latitude]="location.lat" [longitude]="location.lng"
  [(radius)]="circleRadius"
  [fillColor]="'blue'"
  [circleDraggable]="true"
  [editable]="true"></agm-circle>
</agm-map>



<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Calle y numero</label>
      <input class='col-sm-10' type='text' [(ngModel)]='location.address_level_1' class="form-control" placeholder='Office, Apt, Home, Street'>
    </div>
    <div class="form-group">
      <label>Colonia</label>
      <input class='col-sm-10'  [(ngModel)]='location.address_level_2' class='form-control' placeholder='City'/>
    </div>

    <div class="form-group">
      <label >Ciudad</label>
      <input class='col-sm-10'  [(ngModel)]='location.address_state' class='form-control' placeholder='State'>
    </div>

    <div class="form-group">
      <label >Pais</label>
      <input class='col-sm-10'  [(ngModel)]='location.address_country' class='form-control' placeholder='State'>
    </div>

    <div class="form-group">
      <label>Postal / Zip code</label>
      <input class='col-sm-10'  [(ngModel)]='location.address_zip' class='form-control' placeholder='Zip'>
    </div>

    <button (click)='updateOnMap()' type="submit" class="btn btn-primary">Search</button>
  </div>
</div>


<div class="container-fluid">
  <div class='row'>
    <div class="form-group">
      <label>Circle radius in miles</label>
        <input type='text' class='form-control' #miles  [value]='circleRadiusInMiles() | number:"0.0-2"'  (keyup)="kmToRadius(km.value)"/>
    </div>
  </div>
</div>