<div class="container-fluid">
    <div class="row">
        <div *ngFor='let businessItem of results '>
			<div *ngIf='businessItem'> 

                <div class="col-lg-4">

                    <div class="card" [routerLink]='["/business", businessItem.id]' style="margin-bottom: 30px; width: 300px">

                        <img class="card-img-top" src="assets/default.jpg" style="height: 220px">
                    
                     <div class="card-block" style="margin: 10px">
         
                    <h5 class="card-text">{{ businessItem.name }}<small class="card-subtitle text-muted" style="margin: 10px">{{ businessItem.category }}</small></h5>

                    <small> <p class="card-subtitle text-truncate  text-muted"  style="max-width: 250px;">{{ businessItem.location }}</p></small>
                    <p class="card-text text-truncate mb-2 text-muted"> {{ businessItem.description}}
                  </p>
          
                </div>
           </div>
        </div>
    </div>
</div>
