<div id="login-form">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email-input">Correo electrónico</label>
                <input type="email" class="form-control" id="email-input" placeholder="Correo electrónico" [(ngModel)]="model.email" name="email">
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="model.password" name="password">
              </div>
              <div *ngIf="loginFailed==true" class="alert alert-danger" role="alert">
                El usuario o la contraseña es incorrecto.
              </div>
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
