<div class="row">
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-body">
        <form (ngSubmit)="onSubmit()">

          <h2> Registra tu negocio </h2>

          <div class="form-group">
            <label for="business-name">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="model.name" name="name">
          </div>

          <div class="form-group">
            <label for="description">Descripción</label>
            <textarea type="text" class="form-control" placeholder="Descripción" [(ngModel)]="model.description" name="description" rows="5"
              cols="10"></textarea>
          </div>

      
      <div class="form-group">
        <label for="password-confirm-input">Escribe tu domicilio:</label>
        <input ngx-google-places-autocomplete class="form-control" [options]="{types: [], componentRestrictions: { country: 'MX' }}"
          placeholder="Escribe tu domicilio:" placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
      </div>


          <div class="form-group">
            <label for="website">Sitio web</label>
            <input type="text" class="form-control" placeholder="Sitio web" [(ngModel)]="model.website" name="website">
          </div>

          <div class="form-group">
            <label for="category">Categoría</label>
            <select class="form-control" [(ngModel)]="model.category" name="category">
              <option *ngFor="let businessCategory of businessCategories" [value]="businessCategory.id">{{ businessCategory.name}}</option>
            </select>

          </div>

          <div class="form-group">
            <label for="phone">Teléfono</label>
            <input type="text" class="form-control" placeholder="Teléfono" [(ngModel)]="model.phone" name="phone">
          </div>

          <div class="form-group">
            <label for="opening-time">Hora de apertura</label>
            <input type="text" class="form-control" placeholder="Hora de apertura" [(ngModel)]="model.openingTime" name="openingTime">
          </div>

          <div class="form-group">
            <label for="closing-time">Hora de cierre</label>
            <input type="text" class="form-control" placeholder="Hora de cierre" [(ngModel)]="model.closingTime" name="closingTime">
          </div>

          <button type="submit" class="btn btn-primary">Crear negocio</button>

        </form>

      </div>
    </div>
  </div>
</div>