  

  <div class="container">
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="http://www.portoalegre.travel/upload/b/21/215448_best-wallpapers-hd.jpg" style="height: auto;width: 100% ; object-fit: cover; max-height: 400px; max-width: 1450px">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/e2/c2/26/e2c22687ad888f747a3bdcd083f352db.jpg" alt="New York" style="height: auto;width: 100% ; object-fit: cover; max-height: 400px; max-width: 1450px">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="col-md-6">

<div *ngIf='businessItem'>
	<h2>{{ businessItem.name }}</h2>
	 <hr >

  <p class=" text-muted">{{ businessItem.category }}</p>
	<p >{{ businessItem.description }}</p>

  <hr>
  <p>Location : {{ businessItem.location }}</p> 
  <p>Contacto {{ businessItem.phone }}</p>
	<p>Site: {{ businessItem.website}}</p>
	<p>Horario de servicio {{ businessItem.openingTime }}-{{ businessItem.closingTime }}</p>



 <button class="btn btn-primary" [routerLink]='["/item-form"]'>Add Item</button>
</div>
 <app-map>
    
</app-map>


</div>
</div>