<div class="container-fluid">
    <div class="row">
        <div *ngFor='let itemItem of results '>
            <div *ngIf='itemItem'> 

                <div class="col-lg-4">
                    <div class="card" style="margin-bottom: 30px; width: 300px">
                    <img class="card-img-top" src="https://files.slack.com/files-pri/T92U1EC81-FA239RHPF/image.png" style="height: 220px">
                    <div class="card-block" style="margin: 10px">
              
                    <h5 class="card-text">{{ itemItem.name   }}<small class="card-subtitle text-muted" style="margin: 10px">{{ itemItem.business }}</small></h5>

                    <small class="card-subtitle mb-2 text-muted
                     ">{{ itemItem.description }}</small>
                    <p class="card-text text-truncate">{{ itemItem.description }}</p>
                </div>

            </div>
        </div>
    </div>
</div>
