<p>
  business-edit works!
</p>
<h1>{{getCurrentUser().user
}}</h1>
<h1>{{businessItem.name}}</h1>
    <p>
      <button (click)='buttonPressed($event)'>{{ statusId }} change</button>
       Current {{ count }} 

    </p>

    <form *ngIf='businessItem && viewEditForm'  [formGroup]='businessForm' #statusDir='ngForm' (submit)='handleSubmit($event, businessDir, statusForm)'>

        <textarea #myTextArea id='name' name='name' formControlName='name'></textarea>
        <div *ngIf='name.invalid && (name.dirty || name.touched)'>
            <div *ngIf='name.errors.maxlength'>
                Max length is 280
            </div>
            <div *ngIf='name.errors.minlength'>
                Min length is 4
            </div>
        </div>

        <button type='submit' class='btn btn-default' [disabled]='businessForm.invalid'>Save</button>
        <button type='button' class='btn btn-default' (click)='toggleFormView()'>Cancel</button>
    </form>


    Progress: 
    <div style='width:%;background-color:#007cae;'>
        <span *ngIf='uploadProgress > 25 && uploadProgress < 100'>{{ uploadProgress }}%</span>
        <span *ngIf='uploadProgress == 100'>Done</span>
    </div>

