
<body>
<nav class="navbar navbar-expand-lg navbar-muted bg-white sticky-top">
  
  <a class="navbar-brand" routerLink="/home"><img src="assets/agorad.png" height="30" width="150"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
  </form>

  <section *ngIf="getCurrentUser() !== null;else other_content">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown navbar-right">
          <a class="nav-link dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Options
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link text-muted" [routerLink]='["/user", getCurrentUser().user ]'>{{getCurrentUser().firstName}}</a>
            <a *ngIf="!businessForUser" [hidden]="businessForUser" class="dropdown-item text-muted" routerLink="/business-form">Add Business</a>
            <a *ngIf="businessForUser" class="dropdown-item text-muted" [routerLink]='["/business/", businessForUser.id ]'>{{ businessForUser?.name}}</a>
            <a class="dropdown-item text-muted" (click)="$event.preventDefault(); logOut()">Logout</a>
          </div>
        </li>
      </ul>
    </div>

  </section>

  <ng-template #other_content>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link text-muted" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-muted" routerLink="/register">Register</a>
      </li>
    </ul>
  </ng-template>
</nav>
</body>