<div id="login-form">
  <h1>Crea una cuenta</h1>
  <div class="col-md-6">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstname-input">Nombre:</label>
            <input type="text" class="form-control" id="firstname-input" placeholder="Nombre" formControlName="firstName" name="firstName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastname-input">Apellido paterno:</label>
            <input type="text" class="form-control" id="lastname-input" placeholder="Apellido" formControlName="lastName" name="lastName">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email-input">Correo electrónico:</label>
        <input type="text" class="form-control" id="email-input" placeholder="Correo electrónico" formControlName="email" name="email">
      </div>

      <div class="form-group">
        <label for="password-input">Contraseña:</label>
        <input type="password" class="form-control" id="password-input" placeholder="Contraseña" formControlName="password" name="password">
      </div>

      <div class="form-group">
        <label for="password-confirm-input">Confirma tu contraseña:</label>
        <input type="password" class="form-control" id="password-confirm-input" placeholder="Confirma tu contraseña" formControlName="passwordConfirm"
          name="confirmPassword">
      </div>

      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </div>
</div>