<p>
  user-profile works!


</p>
<div *ngIf='userData'>
	<h2>{{ userData.id }}</h2>
	<h2>{{userData.user.firstName}} {{ userData.user.lastName}}</h2>
	<p>Phone</p><h1>{{userData.phone}}</h1>
</div>

<app-current-location>

</app-current-location>
